<ng-template #content>
    <nz-spin [nzSpinning]="loading">
        <div class="edit">
            <form nz-form [style.height]="formHeight + 'px'" [style.paddingTop]="level === 3 ? '0' : '24px'">
                <div nz-row>
                    <ng-container *ngFor="let field of level1Fields" [ngTemplateOutlet]="level1"
                        [ngTemplateOutletContext]="{field: field, form: form}"></ng-container>
                </div>
                <nz-tabset [nzTabBarStyle]="{marginBottom: '24px'}">
                    <ng-container *ngFor="let field of level2Fields">
                        <nz-tab *ngIf="field.edit?.visible" [nzTitle]="field.name ? field.name : ''">
                            <ng-container *ngFor="let subField of field.children" [ngTemplateOutlet]="level1"
                                [ngTemplateOutletContext]="{field: subField, form: getForm(field, form)}">
                            </ng-container>
                        </nz-tab>
                    </ng-container>
                </nz-tabset>
            </form>
            <div class="toolbar">
                <nz-space>
                    <ng-container *ngFor="let button of toolbar">
                        <app-button *nzSpaceItem [button]="button" [hasAnyAuthority]="button.authority" [form]="form"
                            (action)="button.action && button.action()">
                        </app-button>
                    </ng-container>
                </nz-space>
            </div>
        </div>
    </nz-spin>
</ng-template>
<ng-template #level1 let-field="field" let-form="form">
    <app-form-item nz-col *ngIf="field.edit?.visible" [nzSpan]="24 / (field.edit.column ? field.edit.column : column)"
        [column]="column" [labelSpan]="labelSpan" [inputSpan]="inputSpan" [field]="field" [form]="form"
        [errors]="errors">
    </app-form-item>
</ng-template>