<app-list #listComponent title="工程项目列表" [fields]="fields" [listData]="listData" [pageData]="pageData"
    [toolbar]="listToolbar" [action]="listAction" (pageChange)="list()" [level]="2"></app-list>
<app-edit-tab #editComponent title="工程项目编辑" [fields]="fields" [form]="editForm" [toolbar]="editToolbar"
    [errors]="errors" [level]="2">
</app-edit-tab>

<input #file type="file" (change)="importData()" style="display: none;"
    accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">