<ng-template #content>
    <nz-spin [nzSpinning]="loading">
        <div class="edit">
            <div [style.height]="transferHeight + 'px'" [style.padding]="'16px'">
                <ng-container *ngIf="treeData;  else elseBlock">
                    <nz-transfer [nzDataSource]="items" [nzTargetKeys]="targetKeys" (nzChange)="transferChange($event)"
                        [nzRenderList]="[renderList, null]" nzShowSearch (nzSelectChange)="selectChange($event)"
                        (nzSearchChange)="searchChange($event)">
                        <ng-template #renderList let-onItemSelect="onItemSelect">
                            <nz-tree #treeComponent [nzData]="treeData" nzCheckStrictly nzCheckable nzHideUnMatched
                                [nzSearchValue]="searchValue"
                                (nzCheckBoxChange)="treeSelectChange($event, onItemSelect)"
                                [style.height]="(transferHeight - 32 - 39 - 44 - 24) + 'px'" [style.overflowY]="'auto'">
                            </nz-tree>
                        </ng-template>
                    </nz-transfer>
                </ng-container>
                <ng-template #elseBlock>
                    <nz-transfer [nzDataSource]="items" [nzTargetKeys]="targetKeys" nzShowSearch></nz-transfer>
                </ng-template>
            </div>
            <div class="toolbar">
                <nz-space>
                    <ng-container *ngFor="let button of toolbar">
                        <app-button *nzSpaceItem [title]="button.exclusive" [hasAnyAuthority]="button.authority"
                            [button]="button" (action)="button.action && button.action()"></app-button>
                    </ng-container>
                </nz-space>
            </div>
        </div>
    </nz-spin>
</ng-template>