:host {
    display: flex;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-layout {
    min-height: 100vh;
}

.menu-sidebar {
    position: relative;
    z-index: 10;
    min-height: 100vh;
    box-shadow: 2px 0 6px rgba(0, 21, 41, 0.35);
}

.sidebar-logo {
    position: relative;
    height: 64px;
    padding-left: 24px;
    overflow: hidden;
    line-height: 64px;
    background: #001529;
    transition: all 0.3s;
    img {
        display: inline-block;
        height: 32px;
        width: 32px;
        vertical-align: middle;
    }
    h1 {
        display: inline-block;
        margin: 0 0 0 20px;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        font-family: Avenir, Helvetica Neue, Arial, Helvetica, sans-serif;
        vertical-align: middle;
    }
}

nz-header {
    display: flex;
    height: 64px;
    width: 100%;
    z-index: 2;
    padding: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

    .menu-sidebar-trigger {
        height: 64px;
        font-size: 16px;
        padding-left: 24px;
        cursor: pointer;
        transition: all 0.3s, padding 0s;

        i:hover {
            color: #1890ff;
        }
    }

    .toolbar {
        flex-grow: 1;
        text-align: right;

        a {
            padding: 0 10px;

            i {
                font-size: 16px;
                position: relative;
                top: 2px;
            }
        }
    }

    .profile {
        margin: 0 24px 0 10px;
        cursor: pointer;
    }
}

.profile-menu {
    padding: 0;
    .name {
        display: block;
        padding: 8px 16px;
        background: #efefef;
        text-align: center;
        color: #666666;
        font-size: 16px;
        span {
            display: block;
            font-size: 14px;
            color: #aaaaaa;
        }
    }
    .menu {
        display: flex;
        padding: 6px;
        a {
            flex-grow: 1;
            margin: 0 18px;
        }
    }
    .sign-out {
        padding: 6px;
        color: #ff4d4f;
        text-align: center;
        display: block;
    }
    .ant-dropdown-menu-item-divider {
        margin: 0;
    }
}

nz-content {
    margin: 24px;
    > div {
        padding: 24px;
        background: #fff;
        height: 100%;
    }
}

[nz-radio] {
    display: block;
    line-height: 30px;
}

nz-divider {
    top: 11px;
}

nz-footer {
    text-align: center;
    padding-top: 0;
}
